
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<h3 class="tt" id="gioithieu">Giới thiệu</h3>
<div class="border-too"></div>
<div class="row">
    <div class="col-md-4">
        <img class="anh" src="~/public/client/images/giaykhen.jpg" alt="">
    </div>
    <div class="col-md-8">
        <h5><a href="">Báo cáo trường đạt chuẩn quốc gia</a></h5>
        <ul class="gt">
            <li><a href="">Danh sách cb-dv-nv năm 2017</a></li>
            <li><a href="hocsinh.html">Danh sách học sinh</a></li>
            <li><a href="">Thông tin trường</a></li>
            <li><a href="">Hình ảnh về trường</a></li>
        </ul>
    </div>
</div>
<h3 class="tt" id="tintuc">Tin tức</h3>
<div class="border-too"></div>
<div class="row">
    <div class="col-md-4">
        <img class="anh" src="~/public/client/images/tintucicon.png" alt="">
    </div>
    <div class="col-md-8">
        <h5><a href="">Văn nghệ chào mừng ngày 20-11</a></h5>
        <ul class="gt">
            <li><a href="">Hưởng ứng phong trào trồng cây xanh</a></li>
            <li><a href="">Lịch ôn thi đại học cao đẳng</a></li>
            <li><a href="">Lịch thi khảo sát</a></li>
            <li><a href="">Thông tin bảo hiểm y tế</a></li>
        </ul>
    </div>
</div>
<h3 class="tt" id="dhs">Dành cho học sinh</h3>
<div class="border-too"></div>
<div class="row">
    <div class="col-md-4">
        <img class="anh" src="~/public/client/images/tkb-2.png" alt="">
    </div>
    <div class="col-md-8">
        <h5><a href="">Thời khóa biểu học kì 2 năm học 2017-2018</a></h5>
        <ul class="gt">
            <li><a href="">Học sinh đăng ký văn nghệ</a></li>
            <li><a href="">Danh sách học sinh dành học bổng học kì 1 năm học 2017-2018</a></li>
            <li><a href="">Để học tốt môn toán</a></li>
        </ul>
    </div>
</div>
<h3 class="tt" id="daynong">Đường dây nóng</h3>
<div class="border-too"></div>
<div class="row">
    <div class="col-md-4">
        <img class="anh" src="~/public/client/images/tiengtrungthaodiepchudegoidienthaoi.gif" alt="">
    </div>
    <div class="col-md-8">
        <h5><a href="">Mọi thông tin xin liên hệ</a></h5>

    </div>
</div>
<h3 class="tt" id="ntvt">Người tốt việc tốt</h3>
<div class="border-too"></div>
<div class="row">
    <div class="col-md-4">
        <img class="anh" src="~/public/client/images/vc.jpg" alt="">
    </div>
    <div class="col-md-8">
        <h5><a href="">Nguyễn Văn A-Tấm gương sáng lớp 12A3</a></h5>
        <p>Bố mất sớm, mẹ bị ảnh hưởng gián tiếp bởi chất độc màu da cam nên ngay từ nhỏ mẹ em đã không được nhanh nhẹn và khỏe mạnh như mọi người . Đã bốn tháng nay mẹ em phải nghỉ làm hoàn toàn ở nhà để điều trị bệnh, mọi khoản chi phí chữa bệnh và sinh hoạt đều trông chờ vào một triệu đồng tiền trợ cấp chất độc màu da cam và sự trợ giúp của anh em, họ hàng. Tuy hoàn cảnh khó khăn nhưng An vẫn đến trường và chăm chỉ, nỗ lực trong học tập. Em luôn thuộc nhóm dẫn đầu khối 12 của trường THPT Nguyễn Viết Xuân....</p>
    </div>
</div>