@model IEnumerable<Model.EF.DanhMuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

@foreach (var item in Model)
{
    <h3 class="tt" id="gioithieu">@item.ten</h3>
    <div class="border-too"></div>
    <div class="row">
        @if (item.BaiViets.Count > 0)
        {
            <div class="col-md-4">
                <img class="anh" src="~/public/upload/post/@item.BaiViets.ToList()[0].hinh_anh" alt="">
            </div>
            <div class="col-md-8">
                <h5><a href="/Post/Detail/@item.BaiViets.ToList()[0].ma">@item.BaiViets.ToList()[0].tieu_de</a></h5>
                <ul class="gt">
                    @{ int length = item.BaiViets.Count > 5 ? 5 : item.BaiViets.Count; }
                    @for (int i = 1; i < length; i++)
                    {
                        var post = item.BaiViets.ToList()[i];
                        <li><a href="/Post/@post.ma">@post.tieu_de</a></li>
                    }
                </ul>
            </div>
        }
    </div>
}