
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<h3 class="tt" id="">Liên hệ</h3>
<div class="border-too"></div>
<div class="row">
    <div class="col-md-8">
        <br />
        <br />
        TRƯỜNG THPT NGUYỄN VIẾT XUÂN <br />
        Địa chỉ: Xã Đại Đồng - Huyện Vĩnh Tường - Tỉnh Vĩnh Phúc<br />
        Điện thoại: 0211 3838 305- Fax: 0211 3822 605<br />
        Email: c3nguyenvietxuan@vinhphuc.edu.vn<br />
    </div>
</div>
